################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS202 work/v16/Browse.VC.db
/Labs/lab1/.vs/lab1/v16/Browse.VC.db
*.opendb
